 $bg_color: #feffe4;
 @mixin box {
    background-color: cadetblue;
    color: azure;
 }


 body {
    background-color: $bg_color;
 }
 h2 {
    font-size: 18px;

 }

 .box {
    @include box;
 }

 .box_2 {
   @include box;
 }