$sample-color: blue;
$example-color: orange;

body {
  background-color: #c4f0ac;
  div {
    &.sample {
      color: $sample-color;
    }
    &.example_2 {
      color: $example-color;
    }
  }
}

h1 {
  color: black;
  font-size: 20px;
}
  